<div id="chart-container" role="log" aria-live="polite"></div>
<table id="chart-table">
  <tr>
    <th scope="col">Open</th>
    <th scope="col">High</th>
    <th scope="col">Low</th>
    <th scope="col">Close</th>
    <th scope="col">Vol</th>
    <th scope="col">Time</th>
  </tr>
</table>
